@import 'variables';

body {
  background-color: $bg-color;
  color: $text-color;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .body {
    flex: 1;
  }
}

a {
  border-bottom: $link-decoration dashed 1px;
  color: $link-color;

  &:hover {
    color: $link-hover;
  }
}
