html {
  height: 100%;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $webfont;
  font-size: $size-normal;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $webfont;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .body {
    flex: 1;
  }
}

a {
  border-bottom: $link-decoration dashed 1px;
  color: $link-color;

  &:hover {
    color: $link-hover;
  }
}
