@import 'variables';
@import 'flex-grid';

.nav-global {
  margin-right: 50px;

  ul {
    @extend %row;

    & > li {
      @extend .col-md;
    }
  }

  li {
    &:hover {
      border-bottom: $text-color solid 2px;
    }
  }

  a {
    border-bottom: 0;
    color: $text-color;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    border-bottom: $text-color solid 2px;
    display: inline-block;
    flex: 2;
    font-size: 1.25em;
    text-align: center;

    &::before {
      content: '.';
    }

    &::after {
      content: '.';
    }
  }
}

