.nav-global {
  margin-right: 50px;

  li {
    text-align: center;

    &:hover {
      border-bottom: $text-color solid 2px;
    }
  }

  a {
    border-bottom: 0;
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    border-bottom: $text-color solid 2px;
    font-size: 1.25em;

    &::before {
      content: '.';
    }

    &::after {
      content: '.';
    }
  }
}

