@import 'helper';

.row.is-desktop {
  display: flex;
  @include respond-to('phone') {
    display: block;
  }
}

.col {
  display: block;
  width: auto;
  flex: 1;
}


.nav-global {
  margin-right: 50px;

  li {
    text-align: center;

    &:hover {
      border-bottom: $text-color solid 2px;
    }
  }

  a {
    border-bottom: 0;
    color: $text-color;
    text-decoration: none;
  }

  .logo {
    border-bottom: $text-color solid 2px;
    font-size: 1.25em;

    &::before {
      content: '.';
    }

    &::after {
      content: '.';
    }
  }
}

