@import 'variables';

.entry-title {
  border-bottom: $text-color solid 2px;
  font-size: 1.5em;
}

.unit-body-inner {
  display: flex;
}

.vcard {
  max-width: 30%;
  padding: 5px 10px;
}

.recent {
  margin-top: 10px;
}

.entry-content {
  flex: 1;
  padding: 5px 3px;
}

.list-linear {
  letter-spacing: normal;
  list-style: none;
  padding-left: 0;
  word-spacing: -.43em;

  li {
    display: inline-block;
    letter-spacing: normal;
    line-height: normal;
    margin-right: 16px;
    vertical-align: middle;
    word-spacing: normal;
    zoom: 1;
    &:last-child { margin-right: 0; }
  }
}

.list-category,
.list-tag,
.tag_box {
  a {
    span {
      font-size: .8em;
      vertical-align: super;
    }
  }
}
