// Font
$webfont: 'Roboto Mono', consolas, monaco, monospace;

// Color
$base03:    #2d2d2d;
$base02:    #393939;
$base01:    #515151;
$base0:     #ccc;
$subtle:    #999;
$yellow:    #fc6;
$orange:    #f99157;
$red:       #f2777a;
$violet:    #c9c;
$blue:      #69c;
$cyan:      #6cc;
$green:     #9c9;

// Theme color
$bg-color: #222;
$text-color: #ddd;
$link-color: #eee;
$link-hover: #eddd05;
$link-decoration: #ad4346;
$highlight-color: $base02;

// RWD breakpoint
$desktop-width: 1024px;
$tablet-width: 768px;
$phone-width: 480px;

